.footer{
    position: relative;
    --padding-container:150px 0 50px;
}
.footer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
    top: 0;
    left: 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.footer__contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 30px;
}
.footer__copy{
    margin: 20px 0;
    font-weight: 300;
}
.footer__picture{
    margin: 0;
}
.footer__img{
    width: 100%;
}
.footer__social{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
}
.footer__icon{
    width: 30px;
    height: 30px;
}
.footer__link{
    width: 60px;
    height: 60px;
    border : 1px solid #000;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__copyright{
    padding-top: 30px;
    border-top: 1px solid #918484;
    text-align: center;
}
.footer__copyright::after{
    content: ' : Hola brizusan@gmail.com';

}