.hero{
    height: 100vh;
    min-height: 500px;
    position: relative;
    --padding-container:0;
}
.hero::after{
    content: '';
    position: absolute;
    height: var(--heigth-shape);
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);

}
.hero__container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}
.hero__title{
    font-size: 4rem;
}
.hero__copy{
    font-size: 1.2rem;
    margin: 25px 0;
}
.hero__cta{
    display: inline-block;
    background: var(--color-primary);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: var(--padding-btn);
}
.hero__img{
    width: 95%;
}
