/* Main */
.main{
    background: #fff;
}
.title{
    font-size: 2.5rem;
    text-align: left;
    color: var(--color-title);
}
.title--border::after{
    content: '';
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background: var(--color-primary);
}
/* INSTRUCTOR */
.instructor{
    text-align: center;
    border-bottom: 2px solid #ccc;
    --padding-container:20px 0 60px;
    align-items: center;
}
.instructor__container{
    width: 70%;
    margin: 0 auto;
}
.instructor__name{
    margin: 20px 0;
}
.instructor__tag{
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 20px;
}
.instructor__paragraph{
    line-height: 1.5;
    font-style: italic;
    text-align: left;
    color: #615a5a;
}
.instructor__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
/* ABOUT */
.about{
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
}
.about__course{
    width: 90%;
}
.about__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}
.about__picture{
    text-align: center;
}
.about__img{
    width: 95%;
}

/* CARD */
.card{
    background: #f2f2f2;
}
.card__copy{
    margin-top: 20px;
}
.card__container{
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    ".      card1   .    "
    "card2  card1   card3"
    "card2  card4   card3"
    ".      card4   .";
}
.card__item{
    padding: 20px;
    margin: 5px;
    background: #fff;
    border-top: 5px solid #667eea;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__img{
    background: var(--color-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__title{
    margin: 20px 0;
    font-size: 1.5rem;
}
.card__paragraph{
    font-weight: 300;
    margin-bottom: 20px;
}
.card__item:nth-of-type(1){
    grid-area: card1;
}
.card__item:nth-of-type(2){
    grid-area: card2;
}
.card__item:nth-of-type(3){
    grid-area: card3;
}
.card__item:nth-of-type(4){
    grid-area: card4;
}
/* COURSE */
.course{
    --color-title: #fff;
    --color-btn: #fff;
    --text-btn: #444cf7;
    color: var(--color-title);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    /* align-items: center; */
}
.course__about{
    z-index: 100;
    align-self: center;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    width: 97%;
    margin: 0 auto;
    background: var(--color-primary);
    grid-column: 1/4;
    grid-row:2/-2;
}
.course__picture{
    margin: 0;
    grid-column: 3/-1;
    grid-row: 1/-1;
}
.course__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course__picture--left{
    grid-column: 1/4;
}
.course__about--right{
    grid-column: 3/-1;
}