@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url('header.css');
@import url('Main.css');
@import url('footer.css');
:root {
  --color-primary: #444cf7;
  --color-title: #000;
  --color-btn: #444cf7;
  --text-btn: #fff;
  --align-title: left;
  --padding-container: 100px 0;
  --max-width-container: 1200px;
  --padding-btn: 20px 35px;
  --width-container: 90%;
  --heigth-shape: 28em;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.container {
  width: var(--width-container);
  max-width: var(--max-width-container);
  padding: var(--padding-container);
  margin: 0 auto;
  overflow: hidden;  
}
.cta{
  display: inline-block;
  background: var(--color-btn);
  color: var(--text-btn);
  padding: var(--padding-btn);
  text-align: center;
  text-decoration: none;
}

@media  screen and (max-width:768px) {
  :root{
    --heigth-shape: 22em;
  }
  .hero__container{
    --padding-container:60px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 0;
  }
  .hero__texts{
    margin-top: -90px;
  }
  .hero__img{
    order: -1;
    height: 95%;
    margin: 0;
  }
  .hero__title{
    font-size: 3.5rem;
  }
  /* ABOUT */
  .about{
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 80px;
  }
  .about__course{
    width: 100%;
  }
  .about__picture{
    order: -1;
  }
  .about__img{
    width: 100%;
  }
  /* CARDS */
  .card__container{   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    
    grid-template-areas: 
    "card1  .    "
    "card1  card2"
    "card3  card2"
    "card3  card4"
    ".      card4";
  }
  /* COURSE */
  .course{
    grid-template-columns: repeat(6,1fr);
  }
  .course__about{
    grid-column: 1/6;
  }
  .course__about--right{
    grid-column: 2/-1;
  }
  .course__picture{
    grid-column: 2/-1;
  }
  .course__picture--left{
    grid-column: 1/6;
  }
  /* FOOTER */
  .footer__contact{
    grid-template-columns: 1fr;
  }
  .footer__text{
    order: 1;   
  }
  .footer__social{
    justify-content: space-evenly;
  }
}
/* 500px */
@media screen and (max-width:500px) {
  :root{
    --padding-btn:20px 0;
    --heigth-shape: 18em;
  }
  .hero__container{
    --padding-container:45px 0;
  }
  .hero__texts{
    text-align: center;
  }
  .hero__title{
    font-size: 2.8rem;
  }
  .hero__cta{
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .title{
    font-size: 2rem;
  }
  .cta{
    display: block;
  }
  /* instructor */
  .instructor__container{
    width: 90%;
  }
  /* about */
  .about{
    gap: 40px;
  }
  .about__course{
    width: 100%;
  }
  /* card */
  .card__container{
    width: 97%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "card1"
    "card2"
    "card3"
    "card4";
  }
  /* coourse */
  .course{
    grid-template-columns: 1fr;
    --padding-container:80px 0 30px;
  }
  .course__about{
    padding: 20px;
    width: 95%;
    grid-column: 1/-1;
    grid-row: 1/-1;
  } 
  .course__picture{
    display: none;
  }
  .course__about-m{
    margin-bottom: 80px;
  }
}